# dependencies
/node_modules
/clerk-nextjs

# next.js
/.next/
/out/

# env (never commit secrets)
.env
.env*.local

# debug
npm-debug.log*
.DS_Store

# build artifacts
tsconfig.tsbuildinfo
dev-server.log
